*{
  margin: 0;
  padding: 0;
  font-family: "Poppins" , sans-serif;
} 
.text{
  position: relative;
}

img{
  width: 600px;
  height: 400px;
}
.imgg {
  opacity: 1;
  animation: hide-image 10s forwards;
padding-left: 13%;
margin-top: 25px;
margin-bottom: 25px;
}  
@keyframes hide-image {
  to {
    opacity: 0;
  }
}

/* ////// */
.area {
  position: absolute;
  top: 10%;
    text-align: center;
    animation: show-textarea 5s forwards;
    width: 100%;

}
.area h2{
  color: #f1c50e;
  text-transform: capitalize;
  margin-bottom: 20px;
}
textarea{
  height: 200px;
  width: 40%;
   resize: none;
   font-size: 1em;
   color: #222222;
   padding: 20px;
   border: 2px solid #f2f2f2;
   margin-bottom: 20px;
 }
input{
  margin-left: -100px;
    position: absolute;
   background-color: #3bcea7;
   padding: 14px 18px 16px 16px;
   font-size: 1.4rem;
   text-transform: uppercase;
   border: none;
   border-radius: 10px;
   color: #ffffff;
   width: 200px;
   font-weight: 700px;
  top: 92%;
}
 @keyframes show-textarea {
   from {
     opacity: 0;
     display: none;
   }
   to {
     opacity: 1;
     display: block;
   }
}


